@font-face {
    font-family: 'icomoon';
    src:  url('icomoonsearch.eot?ehjytq');
    src:  url('icomoonsearch.eot?ehjytq#iefix') format('embedded-opentype'),
      url('icomoonsearch.ttf?ehjytq') format('truetype'),
      url('icomoonsearch.woff?ehjytq') format('woff'),
      url('icomoonsearch.svg?ehjytq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search:before {
    content: "\e986";
  }
  

  /*ROW LEFT*/
  @font-face {
    font-family: 'icomoon';
    src:  url('icomoonrowleft.eot?7qttd0');
    src:  url('icomoonrowleft.eot?7qttd0#iefix') format('embedded-opentype'),
      url('icomoonrowleft.ttf?7qttd0') format('truetype'),
      url('icomoonrowleft.woff?7qttd0') format('woff'),
      url('icomoonrowleft.svg?7qttd0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow-left2:before {
    content: "\ea40";
  }
  /*HOLA ICON CLOSE*/
  @font-face {
    font-family: 'icomoon';
    src:  url('icomoonclosesession.eot?vlqtwb');
    src:  url('icomoonclosesession.eot?vlqtwb#iefix') format('embedded-opentype'),
      url('icomoonclosesession.ttf?vlqtwb') format('truetype'),
      url('icomoonclosesession.woff?vlqtwb') format('woff'),
      url('icomoonclosesession.svg?vlqtwb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-exit:before {
    content: "\ea14";
  }
  