.error-message{
    color:red;
}
.titleApp-store{
    color:#fff !important; 
    font-size:30px !important;
}
.head-app-store{
 background: #000 !important;
 height: 70px !important;
}
.w100{
    width:100% !important;
    display:block;
}
.title-register{
    text-align:center;
}
.link-login-store{
    width:100% !important;
}
.form-card-login-store{
    max-width:600px;
    margin: auto;
    min-height: 300px;
    margin-top:60px;
}
#menuHeaderBody{
    position: absolute;
    top: 48px !important;
    width: 100% !important;
    background: #fff;

}