@font-face {
  font-family: 'icomoon';
  src:  url('fonts-icons-footer/icomoon.eot?b3c2i6');
  src:  url('fonts-icons-footer/icomoon.eot?b3c2i6#iefix') format('embedded-opentype'),
    url('fonts-icons-footer/icomoon.ttf?b3c2i6') format('truetype'),
    url('fonts-icons-footer/icomoon.woff?b3c2i6') format('woff'),
    url('fonts-icons-footer/icomoon.svg?b3c2i6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts-icons-footer */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-store_mall_directory:before {
  content: "\e903";
}
.icon-store:before {
  content: "\e903";
}
.icon-shop:before {
  content: "\e904";
}
.icon-store1:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e905";
}
.icon-messenger:before {
  content: "\e906";
  color: #00b2ff;
}
.icon-instagram:before {
  content: "\e902";
  color: #e4405f;
}
.icon-youtube:before {
  content: "\e901";
  color: #f00;
}
.icon-facebook1:before {
  content: "\e900";
  color: #1877f2;
}
.icon-home:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e942";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-facebook:before {
  content: "\ea90";
}
